.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    border-bottom: 1px solid #828282;
    box-sizing: border-box;
}

.header-flex > * {
    padding: 20px 50px;
}

.react-link {
    font-weight: bold;
    color: #828282;
    font-size: 20px;
    transition: .25s;
}

.react-link:hover {
    color: black;
    transition: .25s;
}

.header-flex > *:last-child {
    padding-right: 5px;
}

.header-flex > *:first-child {
    padding-left: 5px;
}
